NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://bykinnciivknmbdjyran.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5a2lubmNpaXZrbm1iZGp5cmFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNzc1OTMsImV4cCI6MjA5MDY1MzU5M30.ch9rxyIzHUIwsryp5wbn0qNgUqDF8WiJSTbMt--Q7W8
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SECRET_KEY=
